.partners {
    padding: 100px 60px 50px;
    background: url('../img/partners-map.webp') no-repeat center;
    background-size: contain;
    .swiper-wrapper {
        transition-timing-function: linear;

    }

    &-clients {
        padding: 230px 310px 140px 0px;
        max-width: max-content;
        margin-left: auto;

        .number {
            font-size: 150px;
            color: $brand;
            text-shadow: 
            -0   -18px 0   #FFFFFF,
             0   -18px 0   #FFFFFF,
            -0    18px 0   #FFFFFF,
             0    18px 0   #FFFFFF,
            -18px -0   0   #FFFFFF,
             18px -0   0   #FFFFFF,
            -18px  0   0   #FFFFFF,
             18px  0   0   #FFFFFF,
            -1px -18px 0   #FFFFFF,
             1px -18px 0   #FFFFFF,
            -1px  18px 0   #FFFFFF,
             1px  18px 0   #FFFFFF,
            -18px -1px 0   #FFFFFF,
             18px -1px 0   #FFFFFF,
            -18px  1px 0   #FFFFFF,
             18px  1px 0   #FFFFFF,
            -2px -18px 0   #FFFFFF,
             2px -18px 0   #FFFFFF,
            -2px  18px 0   #FFFFFF,
             2px  18px 0   #FFFFFF,
            -18px -2px 0   #FFFFFF,
             18px -2px 0   #FFFFFF,
            -18px  2px 0   #FFFFFF,
             18px  2px 0   #FFFFFF,
            -3px -18px 0   #FFFFFF,
             3px -18px 0   #FFFFFF,
            -3px  18px 0   #FFFFFF,
             3px  18px 0   #FFFFFF,
            -18px -3px 0   #FFFFFF,
             18px -3px 0   #FFFFFF,
            -18px  3px 0   #FFFFFF,
             18px  3px 0   #FFFFFF,
            -4px -18px 0   #FFFFFF,
             4px -18px 0   #FFFFFF,
            -4px  18px 0   #FFFFFF,
             4px  18px 0   #FFFFFF,
            -18px -4px 0   #FFFFFF,
             18px -4px 0   #FFFFFF,
            -18px  4px 0   #FFFFFF,
             18px  4px 0   #FFFFFF,
            -5px -18px 0   #FFFFFF,
             5px -18px 0   #FFFFFF,
            -5px  18px 0   #FFFFFF,
             5px  18px 0   #FFFFFF,
            -18px -5px 0   #FFFFFF,
             18px -5px 0   #FFFFFF,
            -18px  5px 0   #FFFFFF,
             18px  5px 0   #FFFFFF,
            -6px -18px 0   #FFFFFF,
             6px -18px 0   #FFFFFF,
            -6px  18px 0   #FFFFFF,
             6px  18px 0   #FFFFFF,
            -18px -6px 0   #FFFFFF,
             18px -6px 0   #FFFFFF,
            -18px  6px 0   #FFFFFF,
             18px  6px 0   #FFFFFF,
            -7px -18px 0   #FFFFFF,
             7px -18px 0   #FFFFFF,
            -7px  18px 0   #FFFFFF,
             7px  18px 0   #FFFFFF,
            -18px -7px 0   #FFFFFF,
             18px -7px 0   #FFFFFF,
            -18px  7px 0   #FFFFFF,
             18px  7px 0   #FFFFFF,
            -8px -18px 0   #FFFFFF,
             8px -18px 0   #FFFFFF,
            -8px  18px 0   #FFFFFF,
             8px  18px 0   #FFFFFF,
            -18px -8px 0   #FFFFFF,
             18px -8px 0   #FFFFFF,
            -18px  8px 0   #FFFFFF,
             18px  8px 0   #FFFFFF,
            -9px -18px 0   #FFFFFF,
             9px -18px 0   #FFFFFF,
            -9px  18px 0   #FFFFFF,
             9px  18px 0   #FFFFFF,
            -18px -9px 0   #FFFFFF,
             18px -9px 0   #FFFFFF,
            -18px  9px 0   #FFFFFF,
             18px  9px 0   #FFFFFF,
            -10px -18px 0   #FFFFFF,
             10px -18px 0   #FFFFFF,
            -10px  18px 0   #FFFFFF,
             10px  18px 0   #FFFFFF,
            -18px -10px 0   #FFFFFF,
             18px -10px 0   #FFFFFF,
            -18px  10px 0   #FFFFFF,
             18px  10px 0   #FFFFFF,
            -11px -18px 0   #FFFFFF,
             11px -18px 0   #FFFFFF,
            -11px  18px 0   #FFFFFF,
             11px  18px 0   #FFFFFF,
            -18px -11px 0   #FFFFFF,
             18px -11px 0   #FFFFFF,
            -18px  11px 0   #FFFFFF,
             18px  11px 0   #FFFFFF,
            -12px -18px 0   #FFFFFF,
             12px -18px 0   #FFFFFF,
            -12px  18px 0   #FFFFFF,
             12px  18px 0   #FFFFFF,
            -18px -12px 0   #FFFFFF,
             18px -12px 0   #FFFFFF,
            -18px  12px 0   #FFFFFF,
             18px  12px 0   #FFFFFF,
            -13px -18px 0   #FFFFFF,
             13px -18px 0   #FFFFFF,
            -13px  18px 0   #FFFFFF,
             13px  18px 0   #FFFFFF,
            -18px -13px 0   #FFFFFF,
             18px -13px 0   #FFFFFF,
            -18px  13px 0   #FFFFFF,
             18px  13px 0   #FFFFFF,
            -14px -18px 0   #FFFFFF,
             14px -18px 0   #FFFFFF,
            -14px  18px 0   #FFFFFF,
             14px  18px 0   #FFFFFF,
            -18px -14px 0   #FFFFFF,
             18px -14px 0   #FFFFFF,
            -18px  14px 0   #FFFFFF,
             18px  14px 0   #FFFFFF,
            -15px -18px 0   #FFFFFF,
             15px -18px 0   #FFFFFF,
            -15px  18px 0   #FFFFFF,
             15px  18px 0   #FFFFFF,
            -18px -15px 0   #FFFFFF,
             18px -15px 0   #FFFFFF,
            -18px  15px 0   #FFFFFF,
             18px  15px 0   #FFFFFF,
            -16px -18px 0   #FFFFFF,
             16px -18px 0   #FFFFFF,
            -16px  18px 0   #FFFFFF,
             16px  18px 0   #FFFFFF,
            -18px -16px 0   #FFFFFF,
             18px -16px 0   #FFFFFF,
            -18px  16px 0   #FFFFFF,
             18px  16px 0   #FFFFFF,
            -17px -18px 0   #FFFFFF,
             17px -18px 0   #FFFFFF,
            -17px  18px 0   #FFFFFF,
             17px  18px 0   #FFFFFF,
            -18px -17px 0   #FFFFFF,
             18px -17px 0   #FFFFFF,
            -18px  17px 0   #FFFFFF,
             18px  17px 0   #FFFFFF,
            -18px -18px 0   #FFFFFF,
             18px -18px 0   #FFFFFF,
            -18px  18px 0   #FFFFFF,
             18px  18px 0   #FFFFFF,
            -18px -18px 0   #FFFFFF,
             18px -18px 0   #FFFFFF,
            -18px  18px 0   #FFFFFF,
             18px  18px 0   #FFFFFF;
        }

        .desc {
            font-size: 30px;
            max-width: 350px;
            padding-left: 10px;
            @include font-demi();
            text-shadow: 
            -0   -10px 0   #FFFFFF,
             0   -10px 0   #FFFFFF,
            -0    10px 0   #FFFFFF,
             0    10px 0   #FFFFFF,
            -10px -0   0   #FFFFFF,
             10px -0   0   #FFFFFF,
            -10px  0   0   #FFFFFF,
             10px  0   0   #FFFFFF,
            -1px -10px 0   #FFFFFF,
             1px -10px 0   #FFFFFF,
            -1px  10px 0   #FFFFFF,
             1px  10px 0   #FFFFFF,
            -10px -1px 0   #FFFFFF,
             10px -1px 0   #FFFFFF,
            -10px  1px 0   #FFFFFF,
             10px  1px 0   #FFFFFF,
            -2px -10px 0   #FFFFFF,
             2px -10px 0   #FFFFFF,
            -2px  10px 0   #FFFFFF,
             2px  10px 0   #FFFFFF,
            -10px -2px 0   #FFFFFF,
             10px -2px 0   #FFFFFF,
            -10px  2px 0   #FFFFFF,
             10px  2px 0   #FFFFFF,
            -3px -10px 0   #FFFFFF,
             3px -10px 0   #FFFFFF,
            -3px  10px 0   #FFFFFF,
             3px  10px 0   #FFFFFF,
            -10px -3px 0   #FFFFFF,
             10px -3px 0   #FFFFFF,
            -10px  3px 0   #FFFFFF,
             10px  3px 0   #FFFFFF,
            -4px -10px 0   #FFFFFF,
             4px -10px 0   #FFFFFF,
            -4px  10px 0   #FFFFFF,
             4px  10px 0   #FFFFFF,
            -10px -4px 0   #FFFFFF,
             10px -4px 0   #FFFFFF,
            -10px  4px 0   #FFFFFF,
             10px  4px 0   #FFFFFF,
            -5px -10px 0   #FFFFFF,
             5px -10px 0   #FFFFFF,
            -5px  10px 0   #FFFFFF,
             5px  10px 0   #FFFFFF,
            -10px -5px 0   #FFFFFF,
             10px -5px 0   #FFFFFF,
            -10px  5px 0   #FFFFFF,
             10px  5px 0   #FFFFFF,
            -6px -10px 0   #FFFFFF,
             6px -10px 0   #FFFFFF,
            -6px  10px 0   #FFFFFF,
             6px  10px 0   #FFFFFF,
            -10px -6px 0   #FFFFFF,
             10px -6px 0   #FFFFFF,
            -10px  6px 0   #FFFFFF,
             10px  6px 0   #FFFFFF,
            -7px -10px 0   #FFFFFF,
             7px -10px 0   #FFFFFF,
            -7px  10px 0   #FFFFFF,
             7px  10px 0   #FFFFFF,
            -10px -7px 0   #FFFFFF,
             10px -7px 0   #FFFFFF,
            -10px  7px 0   #FFFFFF,
             10px  7px 0   #FFFFFF,
            -8px -10px 0   #FFFFFF,
             8px -10px 0   #FFFFFF,
            -8px  10px 0   #FFFFFF,
             8px  10px 0   #FFFFFF,
            -10px -8px 0   #FFFFFF,
             10px -8px 0   #FFFFFF,
            -10px  8px 0   #FFFFFF,
             10px  8px 0   #FFFFFF,
            -9px -10px 0   #FFFFFF,
             9px -10px 0   #FFFFFF,
            -9px  10px 0   #FFFFFF,
             9px  10px 0   #FFFFFF,
            -10px -9px 0   #FFFFFF,
             10px -9px 0   #FFFFFF,
            -10px  9px 0   #FFFFFF,
             10px  9px 0   #FFFFFF,
            -10px -10px 0   #FFFFFF,
             10px -10px 0   #FFFFFF,
            -10px  10px 0   #FFFFFF,
             10px  10px 0   #FFFFFF,
            -10px -10px 0   #FFFFFF,
             10px -10px 0   #FFFFFF,
            -10px  10px 0   #FFFFFF,
             10px  10px 0   #FFFFFF;
        }
    }

    &-item {
        filter: grayscale(1);
        transition: filter .5s linear;

        &:hover {
            filter: grayscale(0);
        }
    }
}


@media (max-width: 767px) {
    .partners {
        padding: 28px 20px 20px;
        background: url('../img/partners-map.png') no-repeat center;
        background-size: contain;
        .swiper-wrapper {
            transition-timing-function: linear;
    
        }
    
        &-clients {
            padding: 34px 30px 68px 0px;
    
            .number {
                font-size: 60px;
                color: $brand;
                text-shadow: 
                -0   -4px 0   #FFFFFF,
                0   -4px 0   #FFFFFF,
                -0    4px 0   #FFFFFF,
                0    4px 0   #FFFFFF,
                -4px -0   0   #FFFFFF,
                4px -0   0   #FFFFFF,
                -4px  0   0   #FFFFFF,
                4px  0   0   #FFFFFF,
                -1px -4px 0   #FFFFFF,
                1px -4px 0   #FFFFFF,
                -1px  4px 0   #FFFFFF,
                1px  4px 0   #FFFFFF,
                -4px -1px 0   #FFFFFF,
                4px -1px 0   #FFFFFF,
                -4px  1px 0   #FFFFFF,
                4px  1px 0   #FFFFFF,
                -2px -4px 0   #FFFFFF,
                2px -4px 0   #FFFFFF,
                -2px  4px 0   #FFFFFF,
                2px  4px 0   #FFFFFF,
                -4px -2px 0   #FFFFFF,
                4px -2px 0   #FFFFFF,
                -4px  2px 0   #FFFFFF,
                4px  2px 0   #FFFFFF,
                -3px -4px 0   #FFFFFF,
                3px -4px 0   #FFFFFF,
                -3px  4px 0   #FFFFFF,
                3px  4px 0   #FFFFFF,
                -4px -3px 0   #FFFFFF,
                4px -3px 0   #FFFFFF,
                -4px  3px 0   #FFFFFF,
                4px  3px 0   #FFFFFF,
                -4px -4px 0   #FFFFFF,
                4px -4px 0   #FFFFFF,
                -4px  4px 0   #FFFFFF,
                4px  4px 0   #FFFFFF,
                -4px -4px 0   #FFFFFF,
                4px -4px 0   #FFFFFF,
                -4px  4px 0   #FFFFFF,
                4px  4px 0   #FFFFFF;
            }
    
            .desc {
                font-size: 14px;
                max-width: 180px;
                padding-left: 10px;
                @include font-demi();
                text-shadow: 
                -0   -4px 0   #FFFFFF,
                 0   -4px 0   #FFFFFF,
                -0    4px 0   #FFFFFF,
                 0    4px 0   #FFFFFF,
                -4px -0   0   #FFFFFF,
                 4px -0   0   #FFFFFF,
                -4px  0   0   #FFFFFF,
                 4px  0   0   #FFFFFF,
                -1px -4px 0   #FFFFFF,
                 1px -4px 0   #FFFFFF,
                -1px  4px 0   #FFFFFF,
                 1px  4px 0   #FFFFFF,
                -4px -1px 0   #FFFFFF,
                 4px -1px 0   #FFFFFF,
                -4px  1px 0   #FFFFFF,
                 4px  1px 0   #FFFFFF,
                -2px -4px 0   #FFFFFF,
                 2px -4px 0   #FFFFFF,
                -2px  4px 0   #FFFFFF,
                 2px  4px 0   #FFFFFF,
                -4px -2px 0   #FFFFFF,
                 4px -2px 0   #FFFFFF,
                -4px  2px 0   #FFFFFF,
                 4px  2px 0   #FFFFFF,
                -3px -4px 0   #FFFFFF,
                 3px -4px 0   #FFFFFF,
                -3px  4px 0   #FFFFFF,
                 3px  4px 0   #FFFFFF,
                -4px -3px 0   #FFFFFF,
                 4px -3px 0   #FFFFFF,
                -4px  3px 0   #FFFFFF,
                 4px  3px 0   #FFFFFF,
                -4px -4px 0   #FFFFFF,
                 4px -4px 0   #FFFFFF,
                -4px  4px 0   #FFFFFF,
                 4px  4px 0   #FFFFFF,
                -4px -4px 0   #FFFFFF,
                 4px -4px 0   #FFFFFF,
                -4px  4px 0   #FFFFFF,
                 4px  4px 0   #FFFFFF;
            }
        }
    
    }
}