.input-write {
    border: 1px solid $accent !important;
    position: relative;

    &::after {
        content: 'Необходимо заполнить';
        @include font(400);
        font-size: 16px;
        color: $accent;
        position: absolute;
        left: 0;
        top: calc(100% + 5px);
    }
}

@media (max-width: 767px) {
    .input-write {
    
        &::after {
            font-size: 10px;
        }
    }
}